{% extends 'consumer_base.html.twig' %}

{% block title %}Order on Mollie Feeds{% endblock %}

{% block body %}
    <div class="container">
        <img src="{{restaurant['imageUrl']}}" alt="restaurant-logo" class="mx-auto d-block" />
    </div>
    Showing dishes for restaurant {{restaurant['id']}}.

    <div class='album py-5'>
        <div class='container'>
            <div class='row'>
                {% for dish in dishes %}
                    <div class='col-md-4'>
                        <div class='card mb-4 box-shadow'>
                            <img class='card-img-top' src='{{dish['imageUrl']}}' alt='Card image cap' style='height:180px'>
                            <div class='card-body'>
                                <h5 class='card-title'>{{dish['name']}}</h5>
                                <p class='h2' style='text-align:right'>
                                    EUR {{dish['amount']}}
                                </p>
                                <a href='#' class='btn btn-primary'>Order dish!</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}