{% extends 'base.html.twig' %}

{% block title %}Restaurant Sign Up{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Restaurant Sign Up</h1>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('signup') }}">

        <button class="btn btn-lg btn-primary float-right" type="submit">
            Sign up
        </button>

        <br />

        <p>Already have an account? <a href="{{ path('app_login') }}">Log in</a>!</p>
    </form>
{% endblock %}
